.item {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  background-color: #f8f8f8f8;
}
.muted {
  font-size: 0.8em;
  color: gray;
  font-weight: 500;
  font-family: 'poppins', sans-serif;
  display: flex;
  justify-content: end;
  text-align: end;
}
